
.jumbotron {
     position: fixed;
     width: 100%;
     height: 100%;
     padding: 5px;
     margin-bottom: 20px;
     background-image: img src="css/beachhouse.jpg";
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
 }

.aboutme {
    float: left;
}

.container {
  width: auto;
  margin-top: 550px;

}
.more {
  width: auto;
  float: right;
}
